<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Blog</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Author</h1>

    <p>Este es un blog fue creado por Alejandro Tapia.</p>

    <img src="/images/AUTOR.png" width="200">

  </body>
</html>