<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Blog ALEJANDRO TAPIA</title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
        <header>
            <h1>BLOG PRÁCTICA 5</h1>
            <nav>
                <ul>
                    <li><a href="/">Blog</a></li>
                    <li><a href="/posts">Posts</a></li>
                    <li><a href="/author">Author</a></li>
                </ul>
            </nav>
        </header>
        <section>
            <div>
            <%- body %>
            </div>
        </section>
        <footer>
            <p>Practica de Alejandro Tapia</p>
        </footer>
    </body>
</html>
